form {
  margin: 25px;

  .form-group {
    margin-bottom: 25px;
  }

  label {
    display: block;
  }

  .ng-valid[required], .ng-valid.required {
    border-left: 10px solid #42A948;
  }

  .ng-invalid:not(form) {
    border-left: 10px solid #a94442;
  }

}
