<div class="row miContenedor">
  <div class="col-xl-12 col-lg-12 col-xxl-12">
    <h1 class="text-uppercase text-center mb-5 mt-5">
      Práctica Crud Mantenimiento de usuarios
    </h1>
    <p>
      En esta práctica vamos a realizar el mantenimiendo de usuarios, usando para el frontend Angular 16 y
      para el backend Spring Boot 3.2.4.
      <br>
      Se trata de realizar un Crud completo.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xl-10 col-xxl-10 col-lg-10 offset-1">
    <img src="assets/crud.webp" class="img-fluid w-100 miImagen" routerLink="/usuarios">
  </div>
</div>
