<div class="row miFila">
<div class="col-xl-12 col-lg-12 col-xxl-12">
  <h1 class="text-uppercase text-center mb-3">Lista de usuarios</h1>
  <div class="col-xl-3 col-xxl-3 col-lg-3">
    <div class="btn btn-outline-danger" routerLink="/usuarios/new">Añadir nuevo usuario</div>
  </div>
  <table class="table table-hover text-center mt-5 table-bordered border-info-subtle" *ngIf="users">
    <thead>
    <tr class="text-uppercase text-center text-decoration-underline">
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody class="text-center text-uppercase">
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name}}</td>
      <td>{{ user.apellidos}}</td>
      <td>{{ user.email}}</td>
      <td>{{ user.roles}}</td>
      <td>
        <button id="btnEditUser" class="btn btn-secondary" [routerLink]="['/usuarios',user.id]">Editar Usuario</button>
        <button id="btnDeleteUser" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#askConfirmationDelete" (click)="prepareUserToDelete(user.id!);">Eliminar Usuario</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="askConfirmationDelete" tabindex="-1" aria-labelledby="askConfirmationDelete" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmación de borrado</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Seguro que quieres eliminar a este usuario? La operación no podrá deshacerse
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteUserConfirm();">Borrar</button>
      </div>
    </div>
  </div>
</div>


